body {
    margin: 0px;
    background-color: black;
    overflow: hidden;
}

.title {
    font-family: Courier, monospace;
    font-size: 50px;
    color: white;
    text-align: center;
}

#center-this {
    text-align: center;
}

#button {
    border-radius: 8px;
    font-size: 16px;
}

canvas {
    border: 1px solid #d3d3d3;
    background-image: url('mario.jpg');
    background-size: auto;
    /* centering code from https://stackoverflow.com/questions/5127937/how-to-center-canvas-in-html5 */
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}